@font-face 
{
    font-family: 'socicon';
    src: url('../font/socicon/socicon.eot');
    src: url('../font/socicon/socicon.eot?#iefix') format('embedded-opentype'),
         url('../font/socicon/socicon.woff') format('woff'),
         url('../font/socicon/socicon.ttf') format('truetype'),
         url('../font/socicon/socicon.svg#sociconregular') format('svg');
    font-weight: normal;
    font-style: normal;
    text-transform: initial;
}
.socicon 
{
    font-family: 'socicon' !important;
    speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
body 
{
    min-width: 420px;   
}
.site-header
{
    width: 100%;   
}
#index-connect
{
    border-radius: 5px;
    opacity: .9; 
}
#index-connect:hover
{
    opacity: 1.0; 
}
/*parallax*/
.parallax-container h5,
h1.header,
.slider h4
{
    background: -moz-linear-gradient(left,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 50%, rgba(0,0,0,0) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,0,0,0)), color-stop(50%,rgba(0,0,0,0.65)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 50%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 50%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 50%,rgba(0,0,0,0) 100%); /* IE10+ */
    background: linear-gradient(to right,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 50%,rgba(0,0,0,0) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#00000000',GradientType=1 ); /* IE6-9 */
}
.parallax img 
{
    display: block; 
    transform: translate3d(-50%, 200px, 0px);   
}
.parallax-container 
{
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
.parallax-container h5
{
    padding: 20px;   
}
.parallax-container .section 
{
    width: 100%;
}
/*end parallax*/


nav ul a,
nav .brand-logo 
{
  color: #444;
}
#nav-mobile i.material-icons
{
    float: left;
    /*display: inline-block;*/
    margin: 0 7px 0 -15px;
    padding: 0 0 0 0;
}
@media only screen and (max-width: 600px) {
    #nav-mobile i.material-icons
    {
        /*margin: 0 7px 0 -8px;*/
        padding: 17px 0 0 0;
    }
}
#nav-mobile a
{
    font-size: 1.5rem;
}
.brand-logo 
{
    margin: 0 0 0 60px;   
}
/*p 
{
  line-height: 1.5rem;
}*/
.button-collapse 
{
  color: #26a69a;
}
.side-nav 
{
    top: 65px;
    width: 250px;
    padding: 0;
}
@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
.side-nav {
    top: 56px;
    }
}
@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

.icon-block h5 
{
    margin: -30px 0 0 0;
    padding: : 0;
}
.icon-block {
  padding: 0 15px 0 15px;
}
.icon-block .material-icons 
{
  font-size: inherit;
}
.greenDivide
{
    border-top: solid 20px #BBDEFB;   
}
.page-footer p,
.page-footer ul {
    margin: -5px 0 0 0;   
}
.page-footer .material-icons 
{
    color: #FFF;
    font-size: 1.25rem;
}
footer.page-footer 
{
    margin: 0;
    padding: 0;
}

.portfolio img
{
	width: 100%;
	display: block;
}
.portfolio h5
{
	text-align: left;
	text-transform: uppercase;
	margin-bottom: 10px;
}
.portfolio span
{
    padding: 0 5px 0 5px;
}
.collapsible-header i 
{
    float: right;
}
#zebra li:nth-of-type(even) 
{
  background: #F5F5F5;
}
#zebra li:nth-of-type(even):hover 
{
  background: #DEDEDE;
}
/* Drupal badges, IDs required */
#d-icon-box1,
#d-icon-box2
{
    position: relative;
}
#d-icon-1,
#d-icon-2
{
    position: absolute; 
    left: 10%; 
    bottom: 10%; 
    z-index: 1; 
    cursor: help;   
}

/* card tweaks */
.card
{
    margin: 0;
}
.card .card-content 
{
    padding: 10px;
    border-radius: 0 0 2px 2px;
}
.card-panel img
{
    margin: 10px;
}

/*connect customizations*/
#connect
{
        margin: 0 0 -30px 0;
}
#connect h4 i
{
    margin-left: 20px;   
}
#connect h4 a i
{
    margin-right: -10px;
}
#connect ul
{
    margin: 0;
}
#connect li
{
    display: inline-block; 
    float: left;
    padding: 20px 0 0 0;
    width: 128px;
    height: 128px;
}
#connect img
{
    margin-right: 20px;
}
#jrid
{
    margin-bottom: 20px;
}
#sociallist,
#footerConnect
{
    cursor: pointer;
}
#sociallist li,
#footerConnect li
{
    opacity: 0.8;
}
#sociallist li:hover,
#footerConnect li:hover
{
    opacity: 1.0;
}
/*footer connect links*/
#footerConnect li
{
    display: inline-block; 
    float: left;
    padding: 10px 0 0 0;
    width: 65px;
    height: 65px;
}
/*pagination customizations*/

.pagination li
{
    font-size: 2rem;
    line-height: 3rem;
    padding: 0 15px 0 15px;
    cursor: pointer;
}
.pagination li:first-child,
.pagination li:last-child
{
    padding: 0 7.5px 0 7.5px;   
}
.pagination li:hover,
.award a:hover
{
    background-color: #CCC;   
}
.pagination li.disabled:hover
{
    background-color: #FFF;
}
#resume-id h5
{
    font-size: 1.65rem;
    line-height: 1.65rem;
    text-transform: none;
    text-align: center;
    margin: -15px 0 15px 0;
}
#resume-id h6
{
    font-size: 1.35rem;
    line-height: 1.35rem;
}
#resume-id a
{
    cursor: pointer;
    color: #666;
}
#summary ul
{
    margin: -5px 0 0 0;
}
#summary li,
#skills li
{
    border-top: 1px solid #EAEAEA;
    padding: 5px 0 5px 0;
}
#skills li::before,
#summary li::before,
#experience li::before
{
    content: "■ ";
}
#resume .sub-item
{
    padding-left: 20px;
}
.company,
.colocation,
.cotitle,
.date,
.award
{
    font-size: 1.5rem;
    line-height: 1.5rem.
}
.colocation,
.cotitle
{
    color: #999;
}
.award a
{
    color: #666;
    padding: 0 15px 0 15px;
}
#experience .divider
{
    margin: -15px 0 15px 0;
}
/* about me */
#about
{
    background: linear-gradient(to right bottom, #1976d2  50%, #2196F3 50%);
}
#about .circle 
{
    margin: 20px 20px 0 0;
}
#about .title
{
    margin: -20px 0 0 0;
}
#about .divider
{
    margin: -20px 0 0 0;
}
.about-me-content,
.about-site-content
{
    background-color: #FFF;
    padding: 0 25px 1px 25px;
    opacity: 1.0;
}
.about-site-content
{
    padding: 0 25px 1px 25px;
}
.about-site-content h2
{
    margin: 20px 20px 0 10px;
}
#resume .flow-text,
#about .flow-text
{
    font-size: 1.25rem;
    line-height: 1.75rem;   
}
#jr-logo
{
    margin: 0 12px -12px 0;
}
#logo-container:hover
{
    background-color: #E6E6E6;
    padding: 0 10px 0 0;
}
.disclaimer
{
    color: #999;
    padding: 10px 0 10px 0;
}
img.materialboxed
{
    opacity: 1.0;
}
/*the following will force Safari to -NOT- stylize my phone links, making them disappear*/
a[href^=tel] 
{
    text-decoration:inherit;
    color: inherit;
}
/* 2016 site styles */
.section-header
{
    height: 60vh;
    min-height: 480px;
    position: relative;
    transition: all 0.5s ease;
}
.section-header img
{
    min-width: 960px;
    width: 100vw;
}
.section-header h1
{
    font-family: "Roboto Ultra Bold", sans-serif;
    font-size: 5rem;
    line-height: 4.35rem;
    letter-spacing: .15rem;
    font-weight: 900;
    margin-top: 20vh;
    padding: 20px 0 20px 0;
    max-width: 610px;
    transition: all 0.5s ease;
    background: -moz-linear-gradient(left,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 50%, rgba(0,0,0,0) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,0,0,0)), color-stop(50%,rgba(0,0,0,0.65)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 50%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 50%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 50%,rgba(0,0,0,0) 100%); /* IE10+ */
    background: linear-gradient(to right,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 50%,rgba(0,0,0,0) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#00000000',GradientType=1 ); /* IE6-9 */
}
@media only screen and (max-width: 1400px) {
    .section-header h1
    {
        font-size: 4rem;
        line-height: 3.85rem;
        transition: all 0.5s ease;
    }  
}
@media only screen and (max-width: 1280px) {
    .section-header h1
    {
        font-size: 3.5rem;
        line-height: 3rem;
        max-width: 500px;
        transition: all 0.5s ease;
    }  
}
@media only screen and (max-width: 1024px) {
    .section-header h1
    {
        font-size: 3rem;
        line-height: 2.85rem;
        margin-top: 30vh;
        max-width: 435px;
        transition: all 0.5s ease;
    }  
}
@media only screen and (max-width: 990px) {
    .section-header h1
    {
        margin-top: 1vh;
        max-width: 365px;
        transition: all 0.5s ease;
    }  
}
@media only screen and (max-width: 770px) {
    .section-header h1
    {
        font-size: 2.5rem;
        line-height: 2.35rem;
        margin-top: 1vh;
        transition: all 0.5s ease;
    }  
}
@media only screen and (max-width: 670px) {
    .section-header
    {
        height: 30vh;
        transition: all 0.5s ease;
    }
    .section-header h1
    {
        font-size: 2rem;
        line-height: 2rem;
        margin-top: 1vh;
        max-width: 350px;
        transition: all 0.5s ease;
    }  
}

.profile ul
{
    margin-top: -10px;
    padding-bottom: 0;
}
.profile ul ul
{
    margin-top: 0;
}

.profile ul li 
{
    list-style-type: circle;
    margin-left: 50px;
}
.profile p
{
    border-bottom: 1px dashed #CCC;
    padding: 0 20px 10px 0;
    margin-top: -10px;
}
.pro-sidebar
{
    background-color: #EEEEEE;
}
.pro-sidebar h3
{
    margin-bottom: 0;
}

/* Glyph, by Harry Roberts, tweaked by JR */
hr.style-eight {
    padding: 0;
    border: none;
    border-top: medium double #CCC;
    color: #CCC;
    text-align: center;
}
hr.style-eight:after {
    content: "§";
    /* Safari */
    -webkit-transform: rotate(-90deg);
    /* Firefox */
    -moz-transform: rotate(-90deg);
    /* IE */
    -ms-transform: rotate(-90deg);
    /* Opera */
    -o-transform: rotate(-90deg);
    /* Internet Explorer */
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
    display: inline-block;
    position: relative;
    top: -1.25em;
    font-size: 1em;
    padding: .45em;
    background: white;
}
hr.style-fin {
    padding: 0;
    border: none;
    border-top: medium double #CCC;
    color: #CCC;
    text-align: center;
}
hr.style-fin:after {
    content: "fin";
    display: inline-block;
    position: relative;
    top: -1.25em;
    font-size: 1em;
    padding: .45em;
    background: white;
}
video
{
    margin-bottom: 10px;
}
.dropdown-content li>a, .dropdown-content li>span 
{
    font-size: 1.2rem;
    color: #1976D2;
    display: block;
    padding: 1rem 1rem;
}
.offset-top
{
    margin-top: 30px;
}
.process img
{
    margin-bottom: 20px;
    border: 1px solid #DDD;
}
.no-bdr,
.profile p.no-bdr
{
    border-bottom: none;
}
.slider
{
    margin: -20px 0 20px 0;
}
.slider h4
{
    text-transform: uppercase;
    margin-top: -8.5vh;   
}
.slider .indicators .indicator-item.active {
    background-color: #1976D2;
}
.cta-btn-pos
{
    margin: -20px 0 20px 0;
}
#case-study p,
#case-study li
{
    font-size: 1.25rem;
}
#case-study .pro-sidebar p
{
    border-bottom: none;
    padding: 0 0 20px 0;
    font-size: 1rem;
}
#case-study img
{
    margin-top: 20px;
}
#logo-container img,
.slider .slides li img
{
    margin-top: 0 !important;
}
.l4 p
{
    border-bottom: none;
    margin: 0;
}
/*JR theme color palette*/
.dark-primary-color    { background: #1976D2; }
.default-primary-color { background: #2196F3; }
.light-primary-color   { background: #BBDEFB; }
.text-primary-color    { color: #FFFFFF; }
.accent-color          { background: #8BC34A; }
.primary-text-color    { color: #212121; }
.secondary-text-color  { color: #727272; }
.divider-color         { border-color: #B6B6B6; }
